body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.perfil{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  box-shadow: 1px 0px 8px #00000063;
  width: 350px;
  height: 405px;
  border-radius: 10px;
  background-color: #1e293b;
}
.perfil img{
  border: 3px solid #60a5fa;
  margin-top: 16px;
  background-color: antiquewhite;
  height: 100px;
  width: 100px;
  border-radius: 50%;

}

h2{
  color: #60a5fa;
}

p{
  margin: 6px 0;
  color: #ffffff;
  font-size: 0.9rem;
}


button{
  border: none;
  width: 110px;
  height: 32px;
  border-radius: 10px;
  background-color: #60a5fa;
  color: #0f172a;
}


@media screen and (max-width: 600px) {
    .perfil{
        width: 250px;
        height: 378px;
        border-radius: 10px;
    }

   .perfil img{
      margin-left: 220px;
  }
  p{
    font-size: 0.8rem;
  }
}

