body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000c3;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 width: 600px;
  height: 378px;
  border-radius: 10px;
  gap: 16px;
  background: black;
}

h1{
  color: #ffffff;
}

input{
 width: 550px;
  height: 10px;
  border-radius: 10px;
  padding: 10px 5px;
  border: none;
  background-color: #ffd9007e;
  color: #ffffff;
}

input:focus {
  outline: none;
}
input::placeholder{
  color: #ffffffb4;
}


label{
  margin-right: 60%;
  color: #ffffff;
}


#btLogar{
  border: none;
  width: 550px;
  height: 28px;
  border-radius: 10px;
  background-color: #ffd9009e;
  color: #ffffff;
}

#btLogar:hover{
  background-color: #ffd900;
  float: right;
   
}

#esquecer{
  font-size: 13px;
  margin-right: 30%;
  color: #ffffff;
  text-decoration: none;
}

#esquecer:hover{
  text-decoration: underline;
  color: #ffd700;

}

#CriarConta{
  font-size: 14px;
  color: #ffd700;
  text-decoration: none;
  font-weight: bold;
  
}
#CriarConta:hover{
  text-decoration: underline;
  
}

p{
  color: #ffffff;
  text-align: center;
  font-size: 13px;
}

@media screen and (max-width: 600px) {
    form{
        width: 270px;
        height: 378px;
        border-radius: 10px;
    }

    input{
        width: 180px;
        height: 10px;
        padding: 10px 5px;
    }
    #btLogar{
        width: 180px;
        height: 28px;
      
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    
 form{
        width: 270px;
        height: 378px;
        border-radius: 10px;
    }

    input{
        width: 180px;
        height: 10px;
        padding: 10px 5px;
    }
    #btLogar{
        width: 180px;
        height: 28px;
      
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    form{
        width: 600px;
        height: 378px;
        border-radius: 10px;
    }

    input{
        width: 500px;
        height: 10px;
        padding: 10px 5px;
    }
    #btLogar{
        width: 500px;
        height: 28px;
      
    }
}


