*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(24, 23, 23);
    color: white;
}

main{
    display: flex;
    gap: 10px;
    
}

.cards{
    display: flex;

    gap: 10px;
    
}
.card{
    height: 40px;
    width: 158px;
    padding-top: 26px;
    background-color: rgb(198, 164, 10);
    border-radius: 10px;
    box-shadow: 1px 0px 8px rgb(153, 163, 13);
    text-align: center;
    margin-top: 20px;

}
.menu{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: rgb(198, 164, 10);
    width: 100px;
    height: 100vh;
    gap: 10px;
}

.menu nav a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Principal{
    flex: 1;
    padding: 30px;
}
header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
p{
    margin-bottom: 10px;
    color: rgb(188, 168, 37);;
}

@media screen and (max-width: 600px) {

    
    .cards{
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (min-width: 600px) and (max-width: 768px) {

    
    .cards{
        display: flex;
        flex-wrap: wrap;
        
    }
    
}
@media screen and (min-width: 780px) and (max-width: 992px) {

   .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    
}