body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f172a;
}

table{
    border-collapse: collapse;
    border-color: black;
    border-radius: 10px;
    width: 900px;
    text-align: center;
    color: white;
    overflow: hidden;
}
table > thead{
    background-color: #334155;
    color: #93c5fd;
}
th , td{
    padding: 12px 16px;
}
.color{
    background-color: #2b4159;
}
.color2{
    background-color: #3a5c84;
}
.entrada{
    color: #4ade80;
}
.saida{
    color: #f87171;
}
.detalhes{
    color: #93c5fd;
}

@media screen and (max-width: 600px) {

    
   table{
        width: 350px;
        height: 150px;
    }
    
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    
   table{
        width: 450px;
        height: 150px;
    }
    
}
@media screen and (min-width: 780px) and (max-width: 992px) {

   table{
        width: 58px;
        height: 150px;
    }
    
}