body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card{
    border-radius: 10px;
    background-color: antiquewhite;
    width: 220px;
    height: 70px;
    text-align: center;
    box-shadow: 0px 4px 10px;
    
}
h1{
    color: blue;
    text-align: center;
}
.card h3{
    margin: 10px 0;
   
}

.card:hover{
    background-color: rgb(160, 139, 180);
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .card{
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 30px;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1{
        font-size: 20px;
    }
}