body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f4144;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 0px 8px #0ef;
  width: 600px;
  height: 378px;
  border-radius: 10px;
  gap: 16px;
  background-image: linear-gradient(45deg, #000000,#0f4144, #000000);
}

h1{
  color: #ffffff;
}

input{
  width: 550px;
  height: 10px;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid  #0ef;
  background-color: transparent;
  color: #ffffff;
}

input:focus {
  outline: none;
}
input::placeholder{
  color: #ffffffb4;
}


label{
  margin-right: 60%;
  color: #ffffff;
}


#btCadastrar{
  border: none;
  width: 550px;
  height: 28px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #0ef, rgba(0, 0, 0, 0.849));
  color: #ffffff;
}

#btCadastrar:hover{
  background-image: linear-gradient(to bottom, black, #000000b0);
  float: right;
   
}

#esquecer{
  font-size: 13px;
  margin-right: 30%;
  color: aqua;
  text-decoration: none;
}

#CriarConta{
  font-size: 14px;
  color: aqua;
  text-decoration: none;
  font-weight: bold;
  
}
p{
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  
}

